//fonts
$primaryFont: 'Freight Sans Pro';
$primaryWeight: 400;
$secondaryFont: 'Fira Sans', sans-serif;
$secondaryWeight: 900;

//colors
$white: #FFFFFF;
$black: #000000;
$darkGreen:#3c562c;
$brown: #43353a;
$lightBrown: #8d7971;
$medBrown: #998c7a;
$orange: #f6914e;
$wave1:#faead8;
$wave2: #fefaf8;
$lightWave2: #ba9c8a;
p{    
    line-height: 1em;
}
button{
    font-size: inherit;
    color:$white !important;
    padding:1% 5% !important;
    background-color: $orange !important;
    border-color: $orange !important;
}
.container{
    font-family: 'Fira Sans', sans-serif;    
    img{padding: 0;}
    .inner-content{
        position: absolute !important;
        width: 100%;
        height: 100%;        
        padding: 4% 2% 0;
        margin: 0;
        .row:first-child{font-size: 1.5vw;}
        .row:nth-child(2){
            font-size: 2vw;
            margin-top: 15%;
            padding-left: 5%;
            .col-12:not(:first-child){
                margin-top: 2%;
            }
        }
    }
    .row{position: relative;}
    .wave-1-top{
        position: absolute;
        bottom: -1px;
        height: fit-content;
        padding: 0;
    }
    .wave-1-bottom{
        position: absolute;
        top: -5%;
        z-index: 99;
        height: fit-content;
        padding: 0;
    }
    .largeFont{
        font-size: 3vw;
        line-height: 1em;
    }
}
.second-row{
    text-align: center;
    line-height: 1em;
    background-color:$wave2;
    padding-bottom: 20%;
    img{width: 100%;}    
    .row:first-child{
        .col-12:nth-child(2){
            margin-top: 3%;
        }
    }
    .col-12.col-md-4{position: relative;}
    
    .image-description{
        position: absolute;
        bottom: 4%;
        left: 8%;
        right: 8%;
        padding: 5%;
        
        border-radius: 0 0 13% 13%;
        background-color: $white;       
    }
}
.third-row{
    padding-bottom: 10%;
    background-color: $wave1;
    text-align: center;
    img{
        width: 8%;
        margin: 4% 0;
    }
    .row:first-child{
        .col-12:nth-child(2){
            margin-bottom: 3%;
        }
    }
    .innerImage{
        width: 40%;
        margin-top: 15%;
    }
    .middleImage{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img{width: 100%;}
    }
    button{background-color: $darkGreen !important; padding: 1% 5%;border-color: $darkGreen !important;}
}
.fourth-row{
    padding: 3% 0 5%;
    img{max-width: 100%;}
}
.fifth-row{
    .leaf{
        position: absolute;
        width: 25%;
        padding: 0;
    }
    .leafLeft{
        top:-20%;
        left:0;
    }
    .leafRight{
        right: 0;
        top: 0%;
        width: 10%;
    }
    .row{
        background-color: $wave1;
        padding: 10% 0;
        .col-12{
            z-index: 99;
            div{
                margin-bottom: 5%;
            }
        }
    }   
    img{max-width: 100%;}
    button{padding: 1% 10% !important;}
}

.primaryText{
    font-family: $primaryFont;
    font-weight: $primaryWeight;
}
.secondaryText{
    font-family: $secondaryFont;
    font-weight: $secondaryWeight;
}
.darkGreen{color: $darkGreen;}
.brown{color:$brown}
.lightBrown{color:$lightBrown;}
.medbrown{color:$medBrown;}
.bordered{
    padding: 4% 0;
    margin-bottom: 5%;
    border-bottom: 2px solid $orange    ;
}
/*
.first-row{
    background-image: url(./Image/homepage-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;    
}
@media only screen and (max-device-width: 590px){
    
}
*/
@media (hover: none) {
    .container{margin: 0;max-width: 100% !important;}
    .first-row{
        text-align: center;
    }
    .container .inner-content .row:nth-child(2) {
        font-size: 2vw;
        margin-top: 20%;
        padding-left: 0%;
    }
  }
